<%- include('../partials/header') %>

    <div id="serviceCardHidden">
        <div id="btnDiv">
            <span id="btnBack"><a href="/#serviceSection"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <div class="container">
            <h1 id='serviceCardHiddenHeading' class="display-4">Manicure and Pedicure</h1>
            <hr>
            <div class="row">
                <div id="section-1" class="col-12 col-md-6">
                    <img src="https://images.unsplash.com/photo-1557353425-6c61136de070?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="">
                </div>
                <div id="section-2" class="col-12 col-md-6">
                    <div id="tableHeading" class="row">
                        <div class="col-4">Name</div>
                        <div class="col-4">Money</div>
                        <div class="col-4">Time</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <%- include('../partials/footer') %>