<section id="aboutUs" class="aboutSection">
    <div>
        <div class="container">
            <h1 id="heading">About Us</h1>
            <p id="content">
                Since opening its doors in 2001, our salon has been a full force establishing a reputation of mastery in
                hair cutting, facials, make up etc. Manisha Singhal gives you a classic experience from head to toe with
                the finest equipment and well trained staff.<br> Her unfaltering belief in providing with the highest
                standard of hair dressing, alongside exceptional customer service has led to a flourishing beauty salon
                in Meerut.
                <br><strong>Our Area Of Expertise : Bridal Makeup</strong>
            </p>
        </div>
        <div id="aboutCard" class="mt-5">
            <div class="row container m-auto">
                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle" src="images/owner_img/manisha.jpeg" alt="no img" />
                    </div>
                    <p id="personDetail">
                        Having 20 years of experience in field of beauty and have satisfied many constumer by her
                        work!!!
                    </p>
                    <h2 id="personName"><strong>Manisha Singhal</strong></h2>
                    <p id="designation">Managing Director</p>

                </div>

                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle" src="images/owner_img/lalit.jpeg" alt="no" />
                    </div>
                    <p id="personDetail">
                        Having 18 years of experience in field of beauty and have specification in field of makeup!!!
                    </p>
                    <h2 id="personName"><strong>Lalit Singhal</strong></h2>
                    <p id="designation">Managing Director</p>


                </div>

                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle" src="images/owner_img/pinki.jpg" alt="no" />
                    </div>
                    <p id="personDetail">
                        Having 5 years of experience in field of beauty and working under Manisha Singhal!!!
                    </p>
                    <h2 id="personName"><strong>Pinki Bansal</strong></h2>
                    <p id="designation">Branch Head, Abulane</p>


                </div>
            </div>
        </div>
    </div>
</section>