<section id="aboutUs" class="aboutSection mt-5">
    <div class="container">
        <div>
            <h1 id="heading" class="display-1">About Us</h1>
            <hr />
            <p id="content">
                Since opening its doors in 2001, our salon has been a full force establishing a reputation of mastery in
                hair cutting, facials, make up etc. Manisha Singhal gives you a classic experience from head to toe with
                the finest equipment and well trained staff.<br>
                Her unfaltering belief in providing with the highest standard of hair dressing, alongside exceptional
                customer service has led to a flourishing beauty salon in Meerut.
            </p>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle"
                            src="/images/manisha_img.png"
                            alt="no img" />
                    </div>
                    <h2 id="personName" class="mt-4">Manisha Singhal</h2>
                    <p id="personDetail" class="lead">
                        Having 20 years of experience in field of beauty and have satisfied many constumer by her work!!!
                    </p>
                </div>

                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle"
                            src="https://images.unsplash.com/photo-1535909339361-ef56e179d637?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                            alt="" />
                    </div>
                    <h2 id="personName" class="mt-4">Lalit Singhal</h2>
                    <p id="personDetail" class="lead">
                        Having 18 years of experience in field of beauty and have specification in field of makeup!!!
                    </p>
                </div>

                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle"
                            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                            alt="" />
                    </div>
                    <h2 id="personName" class="mt-4">Pinki Bansal</h2>
                    <p id="personDetail" class="lead">
                        Having 5 years of experience in field of beauty and working under Manisha Singhal!!!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>