<section class="aboutSection mt-5">
    <div class="container">
        <div>
            <h1 id="heading" class="display-1">About Us</h1>
            <hr />
            <p id="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, magnam doloribus commodi sint numquam possimus consectetur vitae ab non, ex eos id assumenda ut quas ipsam at repudiandae, autem repellendus ea pariatur nisi illo? Cum quae eos magni voluptatum,
                at nihil architecto soluta! Enim mollitia, deserunt numquam cum sequi, excepturi totam id consequuntur dolor fugiat esse cumque quas architecto corporis provident neque? Sapiente ipsam dolorem quam tempore error quasi quisquam facere,
                asperiores veritatis labore deserunt! Consequuntur provident molestiae inventore magni. Sunt explicabo, dolorem id perspiciatis voluptatum culpa delectus voluptates animi ad quisquam, sit aliquam porro. Eius similique quae dolorem praesentium.
            </p>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle" src="https://images.unsplash.com/photo-1496347015999-56459d63a30a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" />
                    </div>
                    <h2 id="personName" class="mt-4">Person Name</h2>
                    <p id="personDetail" class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid cum labore dolor vel laboriosam aliquam cumque nesciunt, odit maxime!
                    </p>
                </div>

                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle" src="https://images.unsplash.com/photo-1535909339361-ef56e179d637?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" />
                    </div>
                    <h2 id="personName" class="mt-4">Person Name</h2>
                    <p id="personDetail" class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid cum labore dolor vel laboriosam aliquam cumque nesciunt, odit maxime!
                    </p>
                </div>

                <div id="cardAbout" class="col-12 col-md-4">
                    <div id="image-person">
                        <img class="rounded-circle" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" />
                    </div>
                    <h2 id="personName" class="mt-4">Person Name</h2>
                    <p id="personDetail" class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid cum labore dolor vel laboriosam aliquam cumque nesciunt, odit maxime!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>