<section id="serviceSection" class="serviceSection">
    <div id="serviceCardHidden">
        <div id="btnDiv">
            <span id="btnBack"><a href="/"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <div class="container">
            <h1 id='serviceCardHiddenHeading' class="display-4">Hair Cutting</h1>
            <hr>
            <div class="row">
                <div id="section-1" class="col-12 col-md-6">
                    <img src="https://images.unsplash.com/photo-1557353425-6c61136de070?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="">
                </div>
                <div id="section-2" class="col-12 col-md-6">
                    <div id="tableHeading" class="row">
                        <div class="col-4">Name</div>
                        <div class="col-4">Money</div>
                        <div class="col-4">Time</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                    <div class="row">
                        <div class="col-4">All clear</div>
                        <div class="col-4"><i class="fas fa-rupee-sign"></i> 500</div>
                        <div class="col-4"> 30 min</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="serviceCardHidden">
        <div id="btnDiv">
            <span id="btnBack"><a href="/"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <h1>Hair Cutting 2</h1>
    </div>
    <div id="serviceCardHidden">
        <div id="btnDiv">
            <span id="btnBack"><a href="/"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <h1>Hair Cutting 3</h1>
    </div>
    <div id="serviceCardHidden">
        <div id="btnDiv">
            <span id="btnBack"><a href="/"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <h1>Hair Cutting 4</h1>
    </div>
    <div id="serviceCardHidden">
        <div id="btnDiv">
            <span id="btnBack"><a href="/"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <h1>Hair Cutting 5</h1>
    </div>
    <div id="serviceCardHidden">
        <div id="btnDiv">
            <span id="btnBack"><a href="/"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <h1>Hair Cutting 6</h1>
    </div>
    <div class="container">
        <div id="headingService">
            <h1 class="display-1">Our Services</h1>
            <p>Sparsh Beauty parlour provides huge facilities with advanced technology equipments and best quality service.</p>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="card flex-fill">
                        <img src="https://images.unsplash.com/photo-1519415510236-718bdfcd89c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">HAIRCUT</h5>
                            <p class="card-text">All HAIRCUT in best price. Click below to checkout.</p>
                            <button id="serviceBtn" class="btn">Download</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-12 col-md-12 flex-fill">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1505944270255-72b8c68c6a70?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">FACIAL</h5>
                            <p class="card-text">Providing best quality FACIAL in our salon which helps you to relax.
                            </p>
                            <button id="serviceBtn" class="btn">Download</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 flex-fill">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1552693673-1bf958298935?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MAKEUP</h5>
                            <p class="card-text">We are specialised in makeup and the best part of our salon.
                            </p>
                            <button id="serviceBtn" class="btn">Download</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="card flex-fill">
                        <img src="https://images.unsplash.com/photo-1533228705496-072ca298b122?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">WAXING</h5>
                            <p class="card-text">Providing best quality waxing in our salon and of all types.</p>
                            <button id="serviceBtn" class="btn">Download</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-12 col-md-12 flex-fill">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1559599076-9c61d8e1b77c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">HAIRSPA</h5>
                            <p class="card-text">Providing best quality HAIRSPA in our salon.
                            </p>
                            <button id="serviceBtn" class="btn">Download</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 flex-fill">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1562259920-47afc3030ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">OTHER</h5>
                            <p class="card-text">We are providing many other stuff like head message, clean up, etc.
                            </p>
                            <button id="serviceBtn" class="btn">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>