<%- include('partials/header') %>

    <section class="galleryPage">

        <div id="btnDiv">
            <span id="btnBack"><a href="/"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <div class="box">
            <div class="row">
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/flagged/photo-1572534779127-b64758946728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1563962750531-039b9b25dca2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1533939361134-4135bbb3658c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1505932794465-147d1f1b2c97?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1530785404354-f4ed0206a0d1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/flagged/photo-1572534779127-b64758946728?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1563962750531-039b9b25dca2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1533939361134-4135bbb3658c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1505932794465-147d1f1b2c97?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>

                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="https://images.unsplash.com/photo-1530785404354-f4ed0206a0d1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>



            </div>
        </div>
    </section>

    <%- include('partials/footer') %>