body,
html {
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
}


/* Navbar Scrolling Effect */

.nav-area {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: top .6s;
    overflow: hidden;
}

.nav-area.animate {
    top: -71px;
}

.nav-area.sticky {
    top: 0;
}

header {
    z-index: 1;
}

#mainNav.navbar {
    background-color: rgba(0, 0, 0, 0.431);
}

#mainNav .navbar-brand {
    color: rgb(251, 175, 188);
    font-size: 1.8rem;
    font-weight: 200;
}

#mainNav #navBody .nav-link {
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    height: 100%;
}

#mainNav #navBody .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.63);
}

#mainNav .navbar-brand:hover {
    color: rgb(251, 118, 140);
}

#togglerBtn {
    color: rgba(255, 255, 255, 0.815);
    font-size: 2rem;
    outline: none;
}


/* carousel styles */

#carouselContainer {
    padding: 0;
}

#carouselContainer .carousel-inner .carousel-item img {
    height: 100vh;
    object-fit: cover;
}