<%- include('../partials/header') %>

    <section class="galleryPage">

        <div id="btnDiv">
            <span id="btnBack"><a href="/#gallerySection"><i class="fas fa-angle-double-left"></i> Back</a></span>
        </div>
        <div class="container mb-5">
            <h1 class="display-1 text-center">Services.</h1>
            <p class="text-center lead">Take a look at our Prices.</p>
            <hr>
        </div>

        <div class="box">
            <div class="row">
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/1.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/2.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/3.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/4.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/5.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/6.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/7.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/8.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/9.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/10.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/11.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/12.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/13.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/14.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/15.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/16.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/17.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/18.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/19.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/20.jpg" alt="no">
                </div>
                <div id="galleryPageCols" class="col-6 col-md-4">
                    <img src="images/pricing_img/21.jpg" alt="no">
                </div>


            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>